##Q7
Calculate Mean, Median, Mode, Variance, Standard Deviation, Range &     comment about the values / draw inferences, for the given dataset. For Points, Score, Weigh. Find Mean, Median, Mode, Variance, Standard Deviation, and Range and also Comment about the values/ Draw some inferences.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sna

In [4]:
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

In [ ]:
Q7 = pd.read_csv("Q7.csv")

In [ ]:
Q7

In [ ]:
Q7.describe()

In [ ]:
print(Q7.mean()) #mean of the Q7 data

In [ ]:
data = Q7[["Points", "Score", "Weigh"]]
print(data.median())  #median

In [ ]:
print(data.mode())#mode of the data

In [ ]:
print(data.std())   #standard Deviation

In [ ]:
data.describe()

In [ ]:
print(data.var())  #variance of data

In [ ]:
print(data.max() - data.min())    #Range of the data

##Q9 (a)
Calculate Skewness, Kurtosis & draw inferences on the following data
Cars speed and distance
Use Q9_a.csv

SP and Weight(WT)
Use Q9_b.csv

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
data1 = pd.read_csv("Q9_a.csv")

In [ ]:
data1.head()

In [ ]:
data1 = data1[["speed", "dist"]]    #selecting column

In [ ]:
print(f"The Skewness of the data is {data1.skew()}");
print(f"The Kurtosis of the data is {data1.kurtosis()}");

##Inferences
1. The skewness is **negative** then the
distribution of the **speed** data distribution is slightly **left skewed** so the tail is extended to the left.
2. The skewness is **positive** for **dist** variable so the it has outliers at the right and the tail is extended to the right..
3. The kurtosis of **speed** is Negative,It means that the data has lighter tails and is less peaked than a normal distribution (kurtosis of 3).
4. The kurtosis of **dist** is Positive,It means that the data has lighter tails and is less peaked than a normal distribution (kurtosis of 3).

#Q9 (b)

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
data2 = pd.read_csv("Q9_b.csv")

In [ ]:
data2.head()

In [ ]:
data2[["SP","WT"]].skew()

In [ ]:
data2[["SP","WT"]].kurtosis()

##Inferences
1. The column SP has positive skewness so the tail would be at right and have the oultiers in the right
2. The column SP has positive kurtosis, It means that the data has lighter tails and is less peaked than a normal distribution (kurtosis of 3)
3. The column WT has negative Skewness so the tail would be at left and has the outlier in the left
4. The column WT has positive kurtosis, It means that the data has lighter tails and is less peaked than a normal distribution (kurtosis of 3)

#Q 20)
Calculate probability from the given dataset for the below cases

Data _set: Cars.csv
Calculate the probability of MPG  of Cars for the below cases.
       MPG <- Cars$MPG<br>
a.	P(MPG>38)<br>
b.	P(MPG<40)<br>
c.  P (20<MPG<50)

In [23]:
df=pd.read_csv('Cars.csv')

In [27]:
df

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [29]:
data = df[["MPG","VOL","HP"]]

In [30]:
data.head()

         MPG  VOL  HP
0  53.700681   89  49
1  50.013401   92  55
2  50.013401   92  55
3  45.696322   92  70
4  50.504232   92  53

In [40]:
#a. P(MPG>38)
data1 = df["MPG"]

In [41]:
mean = data1.mean()
stdv = data1.std()
from scipy import stats

In [42]:
prob1 = 1 - stats.norm.cdf(38,mean,stdv)
print(f"Probability of MPG>38 is {prob1}")

Probability of MPG>38 is 0.34759392515827137

In [35]:
#P(MPG<40)
mean1 = data1.mean()
stdv1 = data1.std()

In [36]:
prob2 = stats.norm.cdf(40,mean1,stdv1)
print(f"Probability of MPG<40 is {prob2}")

Probability of MPG<40 is 0.7293498762151609

In [37]:
#P (20<MPG<50)
mean3 = data1.mean()
stdv3 = data1.std()

In [38]:
d = stats.norm.cdf(50, mean3, stdv3) - stats.norm.cdf(20, mean3, stdv3)

In [39]:
print(f"The probability of lying between 20 and 50 is {d}")

The probability of lying between 20 and 50 is 0.8988689169682047

#Q 21)
 Check whether the data follows normal distribution<br>

a)	Check whether the MPG of Cars follows Normal Distribution
        Dataset: Cars.csv

In [13]:
data1.head()

NameError: name 'data1' is not defined

In [14]:
plt.plot(data1)
plt.title("Line Chart for Single Column")
plt.xlabel("Index or Time")
plt.ylabel("Column Values")

NameError: name 'data1' is not defined

In [ ]:
plt.hist(data1, bins=20, edgecolor='black');

In [ ]:
stats.probplot(data1, dist="norm", plot=plt);


b)	Check Whether the Adipose Tissue (AT) and Waist Circumference(Waist)  from wc-at data set  follows Normal Distribution
       Dataset: wc-at.csv

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
adipose = pd.read_csv("wc-at.csv")

In [ ]:
adipose.head()

In [ ]:
plt.hist(adipose[["Waist","AT"]]);

In [ ]:
data2 = adipose["Waist"]
stats.probplot(data2, dist="norm", plot=plt);